@font-face {
  font-family: 'Next art';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Nextart/Nextartlight.woff2") format("woff2");
}

@font-face {
  font-family: 'Next art';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Nextart/Nextart.woff2") format("woff2");
}

@font-face {
  font-family: 'Next art';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Nextart/Nextartsemibold.woff2") format("woff2");
}

@font-face {
  font-family: 'Next art';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Nextart/Nextartbold.woff2") format("woff2");
}

@font-face {
  font-family: 'Next art';
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Nextart/Nextartheavy.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Montserrat/Montserrat-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2");
}
